body{
    background-image: url("../Image/mnbb.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0;
    background-attachment: fixed;
    
}
.up1{
    background-color: rgba(76,81,81, 0.65);
    background-size: 100%;
}
.right{
    margin-top: 35px;
  }
#hoverbutton{
    background-color: #009CEB;
    color: white;
}
#hoverbutton:hover{
    color:black;
    font-weight: bold;
}
.border{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 1px;
    
}  

.btn{
    width:170px;
}

.mpart{
    margin-top: 50px;
}

p{
    color: white;
}

h3{
    text-shadow: 0 0 3px	#009FF0;color: rgb(255, 255, 255); text-align:left;
}

.textaboutthegame{
    background-color: rgba(0, 0, 0, 0.65);
}

#gallery{
    padding-bottom: 10px;
}